@page
@model IndexModel
@{
    ViewData["Title"] = "Login page";
}

<div class="text-center">
    <h1 class="display-4">Homework 4</h1>
    <p>Please sign in to continue.</p>

    <form method="post" asp-page="Index">
        <div>
            @Html.Label(nameof(Model.Username))
            @Html.TextBoxFor(m => m.Username)
        </div>
        
        <div style="margin-top: 2em">
            @Html.Label(nameof(Model.Password))
            @Html.PasswordFor(m => m.Password)
        </div>
        
        <div style="margin-top: 2em">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>

@if (TempData.ContainsKey("Message"))
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["Message"]");
        };
    </script>

    TempData.Remove("Message");
}
